<!DOCTYPE html>
<html>

  <head>
    <title>Crypto Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <div class="grid">
    <body>
      <h1>Cryptocurrency Generator</h1>
      <h2>Find your next investment idea by generating a
        <br>
        random cryptocurrency from thousands of tickers!</h2>
      
      <p>
        Name: {{ name }}
        <br>
        Symbol: {{ symbol }}
      </p>

      <button onclick="location.reload()">Refresh</button>

    </body>

  </div>

</html>

